version: "3.9"

services:
  db:
    image: postgres:16
    container_name: app-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Xolani123
      POSTGRES_DB: users
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d users"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-web
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    environment:
      ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=users;Username=postgres;Password=Xolani123;Pooling=true;Minimum Pool Size=1;Maximum Pool Size=20"
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
    ports:
      - "8080:8080"

volumes:
  db_data: